@font-face {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("https://fonts.cdnfonts.com/s/17770/PT%20Root%20UI_Light.woff")
    format("woff");
}

@font-face {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://fonts.cdnfonts.com/s/17770/PT%20Root%20UI_Regular.woff")
    format("woff");
}

@font-face {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("https://fonts.cdnfonts.com/s/17770/PT%20Root%20UI_Medium.woff")
    format("woff");
}

@font-face {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("https://fonts.cdnfonts.com/s/17770/PT%20Root%20UI_Bold.woff")
    format("woff");
}
